%table.table.dataTable#vouchers
  %thead
    %tr
      %th= t('voucher.title')
  %tbody
    - vouchers.each do |voucher|
      %tr
        %td= voucher.title

:javascript
  $(document).ready(function() {
    $('#vouchers').dataTable();
  });
